[Unit]
Description=Gunicorn instance to serve FastAPI Application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/var/www/photo_enhancer/backend
Environment="PATH=/var/www/photo_enhancer/venv/bin"
EnvironmentFile=/var/www/photo_enhancer/.env
ExecStart=/var/www/photo_enhancer/venv/bin/uvicorn app:app --host 127.0.0.1 --port 8000 --workers 4

[Install]
WantedBy=multi-user.target
